

  <footer id="globalfooter" class="globalfooter my"></footer>

<script src="http://static.jjoobb.cn/js/lib/jquery.js"></script> 
<script src="http://static.jjoobb.cn/js/data/static/global.js"></script> 
<script src="http://static.jjoobb.cn/js/data/static/company.js"></script> 
<script src="http://static.jjoobb.cn/js/plugins/jquery.placeholder.js"></script> 
<script src="http://static.jjoobb.cn/js/personal/mouseSlide.js"></script> 
<% for(var i = 0; i < scripts.length; i ++) { %>
<script src="http://static.jjoobb.cn/js/<%= scripts[i] %>.js"></script>
<% } %>