<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title><%= site %> | <%= local.title %></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<% styles.forEach(function(sty){  %>

<link rel="stylesheet" href="<%= sty %>">

<% }) %>


<%
    if(local.styles) {
        local.styles.forEach(function(sty){  %>

<link rel="stylesheet" href="<%= sty %>">

<%      })
    }
 %>
 
</head>

