<%- include _global/head.html %>
<link rel="stylesheet" href="http://static.jjoobb.cn/css/job/companyRecruit.css">
<body>
  <header id="globalheader" class="globalheader"></header>

  <main class="cr-container clearfix">
    
    <%- include _partial/header.html %>
    
    <!-- 左侧内容 -->
    <section class="cr-left">
      
      
      <%- include _partial/leftNav.html %>

      <%- include _partial/comment.html %>
      
    </section>
    <!-- 左侧内容结束 -->

    <!-- 右侧内容 -->
    <section class="cr-right">

      <%- include _partial/team.html %>
      <%- include _partial/interview.html %>
      <%- include _partial/relation.html %>
      <%- include _partial/work.html %>
      <%- include _partial/concat.html %>
      
    </section>
  </main>

<%- include _global/foot.html %>
<script src="http://api.map.baidu.com/api?v=2.0&ak=LDDKU0olT91I23wMKd0MbDAo"></script>
<script src="http://static.jjoobb.cn/js/lib/echarts.js"></script>
<script src="http://static.jjoobb.cn/js/job/companyRecruit.js"></script> 
<script>
  // 百度地图调用
  var map = new BMap.Map("cr-map");        
  map.centerAndZoom('郑州', 12);
  map.enableScrollWheelZoom(true);

  // 百度分享
  window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"2","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script>
</body>
</html>
