<!-- 评论 -->
<div class="cr-comment">
  <header class="cr-comment-head">
    <h3 class="cr-comment-title">你的评论</h3>
    <div class="cr-comment-sub">请文明上网理性发言</div>
    <div class="cr-comment-count">6582 条评论</div>
  </header>
  <div class="cr-comment-form">
    <form action="">
      <textarea class="form-control cr-comment-msg" id=""></textarea>
      <div class="cr-comment-form-ctl">
        <button type="button" class="cr-comment-btn" id="commentBtn">发表评论</button>
        <div class="fr">
          <label class="lbl-ckb" data-for="cr-comment-ckb"><i class="icon">&#xe6d0;</i><input type="checkbox" id="cr-comment-ckb"></label> 
          <label data-for="cr-comment-ckb">匿名</label>
        </div>
      </div>
    </form>
  </div>
  <ul class="cr-comment-list">
    <li class="cr-comment-item">
      <a href="" target="_blank" class="cr-comment-face">
        <img src="//static.jjoobb.cn/images/job/temp-face.jpg">
      </a>
      <div class="cr-comment-main">
        <div class="cr-comment-user">
          <a href="" class="cr-comment-name">王尼玛</a>
          <div class="cr-comment-time">2小时前</div>
          <a class="cr-comment-report" href="javascript:;"><i class="icon">&#xe6c3;</i> 举报</a>
        </div>
        <p class="cr-comment-content">
          这个公司环境真是太好了，好想去啊，有很多牛人，能在一块工作真是太棒了！
        </p>
        <div class="cr-comment-ctl">
          <a href="javascript:;" class="zan"><i class="icon">&#xe70b;</i> （5533）</a>
          <a href="javascript:;" class="reply"><i class="icon">&#xe6cd;</i> 回复（852）</a>
        </div>
      </div>
      <ul class="cr-comment-list child">
        <li class="cr-comment-item">
          <a href="" target="_blank" class="cr-comment-face">
            <img src="//static.jjoobb.cn/images/job/temp-face.jpg">
          </a>
          <div class="cr-comment-main">
            <div class="cr-comment-user">
              <a href="" class="cr-comment-name">王尼玛</a>
              <div class="cr-comment-time">2小时前</div>
              <a class="cr-comment-report" href="javascript:;"><i class="icon">&#xe6c3;</i> 举报</a>
            </div>
            <p class="cr-comment-content">
              这个公司环境真是太好了，好想去啊，有很多牛人，能在一块工作真是太棒了！
            </p>
            <div class="cr-comment-ctl">
              <a href="javascript:;" class="zan"><i class="icon">&#xe70b;</i> （5533）</a>
              <a href="javascript:;" class="reply"><i class="icon">&#xe6cd;</i> 回复（852）</a>
            </div>
          </div>
        </li>
        <li class="cr-comment-item">
          <a href="" target="_blank" class="cr-comment-face">
            <img src="//static.jjoobb.cn/images/job/temp-face.jpg">
          </a>
          <div class="cr-comment-main">
            <div class="cr-comment-user">
              <a href="" class="cr-comment-name">王尼玛</a>
              <div class="cr-comment-time">2小时前</div>
              <a class="cr-comment-report" href="javascript:;"><i class="icon">&#xe6c3;</i> 举报</a>
            </div>
            <p class="cr-comment-content">
              这个公司环境真是太好了，好想去啊，有很多牛人，能在一块工作真是太棒了！
            </p>
            <div class="cr-comment-ctl">
              <a href="javascript:;" class="zan"><i class="icon">&#xe70b;</i> （5533）</a>
              <a href="javascript:;" class="reply"><i class="icon">&#xe6cd;</i> 回复（852）</a>
            </div>
          </div>
        </li>
      </ul>
      <div class="cr-comment-reply">
        <div class="cr-comment-textwrap"><textarea></textarea></div>
        <button class="cr-comment-btn">回复</button>
      </div>
    </li>
    <li class="cr-comment-item">
      <a href="" target="_blank" class="cr-comment-face">
        <img src="//static.jjoobb.cn/images/job/temp-face.jpg">
      </a>
      <div class="cr-comment-main">
        <div class="cr-comment-user">
          <a href="" class="cr-comment-name">王尼玛</a>
          <div class="cr-comment-time">2小时前</div>
          <a class="cr-comment-report" href="javascript:;"><i class="icon">&#xe6c3;</i> 举报</a>
        </div>
        <p class="cr-comment-content">
          这个公司环境真是太好了，好想去啊，有很多牛人，能在一块工作真是太棒了！
        </p>
        <div class="cr-comment-ctl">
          <a href="javascript:;" class="zan"><i class="icon">&#xe70b;</i> （5533）</a>
          <a href="javascript:;" class="reply"><i class="icon">&#xe6cd;</i> 回复（852）</a>
        </div>
      </div>
    </li>
    <li class="cr-comment-item">
      <a href="" target="_blank" class="cr-comment-face">
        <img src="//static.jjoobb.cn/images/job/temp-face.jpg">
      </a>
      <div class="cr-comment-main">
        <div class="cr-comment-user">
          <a href="" class="cr-comment-name">王尼玛</a>
          <div class="cr-comment-time">2小时前</div>
          <a class="cr-comment-report" href="javascript:;"><i class="icon">&#xe6c3;</i> 举报</a>
        </div>
        <p class="cr-comment-content">
          这个公司环境真是太好了，好想去啊，有很多牛人，能在一块工作真是太棒了！
        </p>
        <div class="cr-comment-ctl">
          <a href="javascript:;" class="zan"><i class="icon">&#xe70b;</i> （5533）</a>
          <a href="javascript:;" class="reply"><i class="icon">&#xe6cd;</i> 回复（852）</a>
        </div>
      </div>
    </li>
    <li class="cr-comment-item">
      <a href="" target="_blank" class="cr-comment-face">
        <img src="//static.jjoobb.cn/images/job/temp-face.jpg">
      </a>
      <div class="cr-comment-main">
        <div class="cr-comment-user">
          <a href="" class="cr-comment-name">王尼玛</a>
          <div class="cr-comment-time">2小时前</div>
          <a class="cr-comment-report" href="javascript:;"><i class="icon">&#xe6c3;</i> 举报</a>
        </div>
        <p class="cr-comment-content">
          这个公司环境真是太好了，好想去啊，有很多牛人，能在一块工作真是太棒了！
        </p>
        <div class="cr-comment-ctl">
          <a href="javascript:;" class="zan"><i class="icon">&#xe70b;</i> （5533）</a>
          <a href="javascript:;" class="reply"><i class="icon">&#xe6cd;</i> 回复（852）</a>
        </div>
      </div>
    </li>
    <li class="cr-comment-item">
      <a href="" target="_blank" class="cr-comment-face">
        <img src="//static.jjoobb.cn/images/job/temp-face.jpg">
      </a>
      <div class="cr-comment-main">
        <div class="cr-comment-user">
          <a href="" class="cr-comment-name">王尼玛</a>
          <div class="cr-comment-time">2小时前</div>
          <a class="cr-comment-report" href="javascript:;"><i class="icon">&#xe6c3;</i> 举报</a>
        </div>
        <p class="cr-comment-content">
          这个公司环境真是太好了，好想去啊，有很多牛人，能在一块工作真是太棒了！
        </p>
        <div class="cr-comment-ctl">
          <a href="javascript:;" class="zan"><i class="icon">&#xe70b;</i> （5533）</a>
          <a href="javascript:;" class="reply"><i class="icon">&#xe6cd;</i> 回复（852）</a>
        </div>
      </div>
    </li>
    <li class="cr-comment-item">
      <a href="" target="_blank" class="cr-comment-face">
        <img src="//static.jjoobb.cn/images/job/temp-face.jpg">
      </a>
      <div class="cr-comment-main">
        <div class="cr-comment-user">
          <a href="" class="cr-comment-name">王尼玛</a>
          <div class="cr-comment-time">2小时前</div>
          <a class="cr-comment-report" href="javascript:;"><i class="icon">&#xe6c3;</i> 举报</a>
        </div>
        <p class="cr-comment-content">
          这个公司环境真是太好了，好想去啊，有很多牛人，能在一块工作真是太棒了！
        </p>
        <div class="cr-comment-ctl">
          <a href="javascript:;" class="zan"><i class="icon">&#xe70b;</i> （5533）</a>
          <a href="javascript:;" class="reply"><i class="icon">&#xe6cd;</i> 回复（852）</a>
        </div>
      </div>
    </li>
    <li class="cr-comment-item">
      <a href="" target="_blank" class="cr-comment-face">
        <img src="//static.jjoobb.cn/images/job/temp-face.jpg">
      </a>
      <div class="cr-comment-main">
        <div class="cr-comment-user">
          <a href="" class="cr-comment-name">王尼玛</a>
          <div class="cr-comment-time">2小时前</div>
          <a class="cr-comment-report" href="javascript:;"><i class="icon">&#xe6c3;</i> 举报</a>
        </div>
        <p class="cr-comment-content">
          这个公司环境真是太好了，好想去啊，有很多牛人，能在一块工作真是太棒了！
        </p>
        <div class="cr-comment-ctl">
          <a href="javascript:;" class="zan"><i class="icon">&#xe70b;</i> （5533）</a>
          <a href="javascript:;" class="reply"><i class="icon">&#xe6cd;</i> 回复（852）</a>
        </div>
      </div>
    </li>
    <li class="cr-comment-item">
      <a href="" target="_blank" class="cr-comment-face">
        <img src="//static.jjoobb.cn/images/job/temp-face.jpg">
      </a>
      <div class="cr-comment-main">
        <div class="cr-comment-user">
          <a href="" class="cr-comment-name">王尼玛</a>
          <div class="cr-comment-time">2小时前</div>
          <a class="cr-comment-report" href="javascript:;"><i class="icon">&#xe6c3;</i> 举报</a>
        </div>
        <p class="cr-comment-content">
          这个公司环境真是太好了，好想去啊，有很多牛人，能在一块工作真是太棒了！
        </p>
        <div class="cr-comment-ctl">
          <a href="javascript:;" class="zan"><i class="icon">&#xe70b;</i> （5533）</a>
          <a href="javascript:;" class="reply"><i class="icon">&#xe6cd;</i> 回复（852）</a>
        </div>
      </div>
    </li>
    <li class="cr-comment-item">
      <a href="" target="_blank" class="cr-comment-face">
        <img src="//static.jjoobb.cn/images/job/temp-face.jpg">
      </a>
      <div class="cr-comment-main">
        <div class="cr-comment-user">
          <a href="" class="cr-comment-name">王尼玛</a>
          <div class="cr-comment-time">2小时前</div>
          <a class="cr-comment-report" href="javascript:;"><i class="icon">&#xe6c3;</i> 举报</a>
        </div>
        <p class="cr-comment-content">
          这个公司环境真是太好了，好想去啊，有很多牛人，能在一块工作真是太棒了！
        </p>
        <div class="cr-comment-ctl">
          <a href="javascript:;" class="zan"><i class="icon">&#xe70b;</i> （5533）</a>
          <a href="javascript:;" class="reply"><i class="icon">&#xe6cd;</i> 回复（852）</a>
        </div>
      </div>
    </li>
    <li class="cr-comment-item">
      <a href="" target="_blank" class="cr-comment-face">
        <img src="//static.jjoobb.cn/images/job/temp-face.jpg">
      </a>
      <div class="cr-comment-main">
        <div class="cr-comment-user">
          <a href="" class="cr-comment-name">王尼玛</a>
          <div class="cr-comment-time">2小时前</div>
          <a class="cr-comment-report" href="javascript:;"><i class="icon">&#xe6c3;</i> 举报</a>
        </div>
        <p class="cr-comment-content">
          这个公司环境真是太好了，好想去啊，有很多牛人，能在一块工作真是太棒了！
        </p>
        <div class="cr-comment-ctl">
          <a href="javascript:;" class="zan"><i class="icon">&#xe70b;</i> （5533）</a>
          <a href="javascript:;" class="reply"><i class="icon">&#xe6cd;</i> 回复（852）</a>
        </div>
      </div>
    </li>
  </ul>
  <a href="javascript:;" class="cr-comment-more">查看更多</a>
</div>
<!-- 评论结束 -->