<!-- 联系方式 -->
<div class="cr-right-block">
  <header class="cr-right-header">
    <i class="icon">&#xe634;</i> <b>联系方式</b>
  </header>
  <div class="cr-contact">
    <p class="cr-contact-row">
      <label class="col col-2">网址</label>
      <span class="col col-10">www.jjoobb.cn</span>
    </p>
    <p class="cr-contact-row">
      <label class="col col-2">电话</label>
      <span class="col col-10">0371-65352630</span>
    </p>
    <p class="cr-contact-row">
      <label class="col col-2">传真</label>
      <span class="col col-10">0371-65352630</span>
    </p>
    <p class="cr-contact-row">
      <label class="col col-2">邮箱</label>
      <span class="col col-10">info@jjoobb.cn</span>
    </p>
    <p class="cr-contact-row">
      <label class="col col-2">地址</label>
      <span class="col col-10">河南郑州金水区经三路财富广场2号楼6层</span>
    </p>
  </div>
  <div class="cr-map" id="cr-map">
    <!-- 百度地图 -->
  </div>
</div>
<!-- 联系方式结束 -->