<!-- 企业信息 -->
<div class="good-value" title="当前企业满意度 80%">
  <div class="progress" style="width:80%"></div>
</div>
<header class="cr-company">
  <div class="cr-company-logo">
    <img src="//static.jjoobb.cn/images/company/account/logobg_200.jpg" width="198" height="198" title="河南九博信息科技有限公司">
  </div>
  <div class="cr-company-info">
    <div class="cr-company-name">
      <b class="vm">河南九博信息科技有限公司</b>
      <i class="icon" title="九博认证企业">&#xe657;</i>
      <a class="icon eval-icon" title="企业评测报告" href="EvaluationReport.html">&#xe710;</a>
    </div>
    <div class="cr-company-row">
      <div class="cr-company-col">粉丝 <b>552121</b></div>
      <div class="cr-company-col">关注 <b>122</b></div>
    </div>
    <div class="cr-company-row">
      <div class="cr-company-col">河南郑州</div>
      <div class="cr-company-col">民营/私营企业</div>
      <div class="cr-company-col">互联网/电子商务</div>
      <div class="cr-company-col">500万-100万</div>
      <div class="cr-company-col">100-499人</div>
    </div>
    <ul class="cr-company-data">
      <li>
        <p class="value">86%</p>
        <p class="text">简历及时处理率</p>
      </li>
      <li>
        <p class="value">5天</p>
        <p class="text">简历处理用时</p>
      </li>
      <li>
        <p class="value">今天</p>
        <p class="text">企业最近登陆</p>
      </li>
    </ul>
  </div>
  <div class="cr-company-other">
    <div class="cr-company-ctl">
      <a href="javascript:;" class="cr-company-btn follow-btn" id="followBtn"><i class="icon">&#xe681;</i> 关注</a>
      <a href="javascript:;" class="cr-company-btn letter-btn" id="letterBtn"><i class="icon">&#xe624;</i> 私信</a>
    </div>
    <div class="cr-company-hr">
      <p class="cr-hr-title">管理员</p>
      <dl class="oh">
        <dt class="cr-hr-face">
          <img src="//static.jjoobb.cn/images/global/default_avatar_female.jpg" title="九博人才网HR">
          <i class="icon cr-hr-flag">&#xe63f;</i>
        </dt>
        <dd class="cr-hr-text">九博人才网HR</dd>
        <dd class="cr-hr-text"><a href="" class="cr-hr-quiz">向他提问</a></dd>
      </dl>
    </div>
    <div class="bdsharebuttonbox cr-company-share">
      <b>分享</b> 
      <a href="javascript:;" class="icon icon-wx" data-cmd="weixin" title="分享到微信">&#xe63c;</a>
      <a href="javascript:;" class="icon icon-wb" data-cmd="tsina" title="分享到新浪微博">&#xe600;</a>
      <a href="javascript:;" class="icon icon-qz" data-cmd="qzone" title="分享到QQ空间">&#xe70c;</a>
    </div>
  </div>
</header>
<!-- 企业信息结束 -->