<!-- 企业人脉 -->
<div class="cr-right-block cr-relation">
  <header class="cr-right-header">
    <i class="icon">&#xe61a;</i> <b>通过他们了解此公司</b>
  </header>
  <div class="cr-relation-list">
    <a href="" class="cr-relation-item" target="_blank"><img src="//static.jjoobb.cn/images/job/temp-face.jpg"></a>
    <a href="" class="cr-relation-item" target="_blank"><img src="//static.jjoobb.cn/images/job/temp-face.jpg"></a>
    <a href="" class="cr-relation-item" target="_blank"><img src="//static.jjoobb.cn/images/job/temp-face.jpg"></a>
    <a href="" class="cr-relation-item" target="_blank"><img src="//static.jjoobb.cn/images/job/temp-face.jpg"></a>
  </div>
  <p class="cr-relation-count"><b>5</b> 位1度人脉关系</p>
  <p class="cr-relation-count"><b>3</b> 位2度人脉关系</p>
  <p class="cr-relation-count"><b>86</b> 位员工已加入九博人才网</p>
  <p class="cr-more"><a href="" target="_blank">更多人脉关系&gt;&gt;</a></p>
</div>
<!-- 企业人脉结束 -->