<!-- 创始团队 -->
<div class="cr-right-block cr-team">
  <header class="cr-right-header">
    <div class="fl">
      <i class="icon">&#xe68a;</i> <b>创始团队</b>
    </div>
    <div class="cr-team-cut">
      <a href="javascript:;" class="fl icon" id="cr-team-left" title="上一位">&#xe61e;</a>
      <a href="javascript:;" class="fr icon" id="cr-team-right" title="下一位">&#xe61d;</a>
    </div>
  </header>
  <div class="cr-team-cont">
    <div id="cr-team-box">
      <dl class="cr-team-item">
        <dt class="cr-team-face"><img src="//static.jjoobb.cn/images/job/temp-face.jpg" title="王庆丰"></dt>
        <dd class="cr-team-name">王庆丰</dd>
        <dd class="cr-team-text">2007年于北京大学硕士毕业后，先后供职于腾讯集团、平安证券和华夏基金等顶级互联网公司和金融机构，擅长互联网公司的战略分析与制定。
        2007年于北京大学硕士毕业后，先后供职于腾讯集团、平安证券和华夏基金等顶级互联网公司和金融机构，擅长互联网公司的战略分析与制定。
        2007年于北京大学硕士毕业后，先后供职于腾讯集团、平安证券和华夏基金等顶级互联网公司和金融机构，擅长互联网公司的战略分析与制定。
        </dd>
      </dl>
      <dl class="cr-team-item">
        <dt class="cr-team-face"><img src="//static.jjoobb.cn/images/job/temp-face.jpg" title="王宝强"></dt>
        <dd class="cr-team-name">王宝强</dd>
        <dd class="cr-team-text">2007年于北京大学硕士毕业后，先后供职于腾讯集团、平安证券和华夏基金等顶级互联网公司和金融机构，擅长互联网公司的战略分析与制定。
        </dd>
      </dl>
    </div>
  </div>
</div>
<!-- 创始团队结束 -->