<!-- 公司和职位 -->
<!-- 公司页面时显示 -> 看过此公司的人还看过 -->
<div class="cr-right-block">
  <header class="cr-right-header">
    <i class="icon">&#xe605;</i> <b>看过此公司的人还看过</b>
  </header>
  <ul class="cr-work-list">
    <li class="cr-work-item">
      <a href="" target="_blank" class="cr-work-logo"><img src="//static.jjoobb.cn/images/company/account/logobg_60.jpg"></a>
      <a href="" target="_blank" class="cr-work-name ellipsis"><b>河南新日科技有限公司</b></a>
      <span class="cr-work-text ellipsis"><b class="color-cc">18</b> 个招聘职位</span>
    </li>
    <li class="cr-work-item">
      <a href="" target="_blank" class="cr-work-logo"><img src="//static.jjoobb.cn/images/company/account/logobg_60.jpg"></a>
      <a href="" target="_blank" class="cr-work-name ellipsis"><b>河南新日科技有限公司</b></a>
      <span class="cr-work-text ellipsis"><b class="color-cc">18</b> 个招聘职位</span>
    </li>
    <li class="cr-work-item">
      <a href="" target="_blank" class="cr-work-logo"><img src="//static.jjoobb.cn/images/company/account/logobg_60.jpg"></a>
      <a href="" target="_blank" class="cr-work-name ellipsis"><b>河南新日科技有限公司</b></a>
      <span class="cr-work-text ellipsis"><b class="color-cc">18</b> 个招聘职位</span>
    </li>
    <li class="cr-work-item">
      <a href="" target="_blank" class="cr-work-logo"><img src="//static.jjoobb.cn/images/company/account/logobg_60.jpg"></a>
      <a href="" target="_blank" class="cr-work-name ellipsis"><b>河南新日科技有限公司</b></a>
      <span class="cr-work-text ellipsis"><b class="color-cc">18</b> 个招聘职位</span>
    </li>
    <li class="cr-work-item">
      <a href="" target="_blank" class="cr-work-logo"><img src="//static.jjoobb.cn/images/company/account/logobg_60.jpg"></a>
      <a href="" target="_blank" class="cr-work-name ellipsis"><b>河南新日科技有限公司河南新日科技有限公司</b></a>
      <span class="cr-work-text ellipsis"><b class="color-cc">18</b> 个招聘职位</span>
    </li>
  </ul>
  <p class="cr-more"><a href="" target="_blank">其他更多工作机会&gt;&gt;</a></p>
</div>
<!-- 招聘职位页面时显示 -> 看过这些职位的人还看过 -->
<div class="cr-right-block">
  <header class="cr-right-header">
    <i class="icon">&#xe605;</i> <b>看过这些职位的人还看过</b>
  </header>
  <ul>
    <li class="cr-position-item">
      <p class="cr-position-name ellipsis"><a href="" target="_blank">网页设计</a></p>
      <p class="ellipsis"><a href="" target="_blank">郑州新中电子科技有限公司</a></p>
    </li>
    <li class="cr-position-item">
      <p class="cr-position-name ellipsis"><a href="" target="_blank">网页设计</a></p>
      <p class="ellipsis"><a href="" target="_blank">郑州新中电子科技有限公司</a></p>
    </li>
    <li class="cr-position-item">
      <p class="cr-position-name ellipsis"><a href="" target="_blank">网页设计</a></p>
      <p class="ellipsis"><a href="" target="_blank">郑州新中电子科技有限公司</a></p>
    </li>
    <li class="cr-position-item">
      <p class="cr-position-name ellipsis"><a href="" target="_blank">网页设计</a></p>
      <p class="ellipsis"><a href="" target="_blank">郑州新中电子科技有限公司</a></p>
    </li>
    <li class="cr-position-item">
      <p class="cr-position-name ellipsis"><a href="" target="_blank">网页设计网页设计网页设计网页设计网页设计网页设计</a></p>
      <p class="ellipsis"><a href="" target="_blank">郑州新中电子科技有限公司郑州新中电子科技有限公司</a></p>
    </li>
  </ul>
  <p class="cr-more"><a href="" target="_blank">其他更多招聘职位&gt;&gt;</a></p>
</div>
<!-- 公司和职位结束 -->